@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,300&display=swap');
/* index início */
body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

body 
    p,
    div, 
    h1, 
    h2, 
    h3 {
    font-family: 'Montserrat', sans-serif;
}

p, div {
    font-weight: 400;
}

nav{
    height: auto;
    width: 100%;
    background-color: #48473d;
    display: flex;
    align-items: center;
}

.logo{
    height: auto;
    width: 3rem;
    margin: 10px;
    margin-inline-start: 20px;
}

.navbot{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bot{
    margin-inline: 40px;
    text-decoration: none;
    color: white;
    border: black;
    cursor: pointer;
}

footer{
    background-color: #48473d;
    height: 437px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer h1{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconweb{
    display: flex;
    align-items: center;
}

.face{
    background-color: white;
    border-radius: 100%;
    display: flex;
    align-items: center;
}

.insta{
    margin-left: 60px;
    height: auto;
    width: 9.3rem;
}

.ser h1{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 50px;
    font-size: 40px;
}

.cards{
    margin: 100px;
    margin-bottom: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cont4{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.cont3{
    display: flex;
    flex-direction: row;
}

.contcard{
    width: 254px; 
    height: 313px; 
    position: relative;
    margin-inline: 20px;
}

.outcard{
    width: 254px; 
    height: 313px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #48473D; 
    border-radius: 45px;
}

.namecard{
    width: 247px; 
    height: 47px; 
    left: 3px; 
    top: 24px; 
    position: absolute; 
    text-align: center; 
    color: white; 
    font-size: 22px; 
    font-weight: 700; 
    word-wrap: break-word;
}

.textcard{
    width: 228px; 
    height: 129px; 
    left: 13px; 
    top: 111px; 
    position: absolute; 
    display: flex;
    text-align: center; 
    color: white; 
    font-size: 22px; 
    font-weight: 200; 
    word-wrap: break-word;
}

.idkcard{
    width: 175px; 
    height: 42px; 
    left: 79px; 
    top: 271px; 
    position: absolute;
    cursor: pointer;
}

.btmcard{
    width: 175px; 
    height: 42px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #B4CB92; 
    border-top-left-radius: 50px; 
    border-bottom-right-radius: 50px;
}

.namebtm{
    width: 105px; 
    height: 24px; 
    left: 13px; 
    top: 9px; 
    position: absolute; 
    text-align: center; 
    color: #48473D; 
    font-size: 20px; 
    font-weight: 700; 
    word-wrap: break-word;
}

.alincard{
    width: 34px; 
    height: 34px; 
    left: 118px; 
    top: 38px; 
    position: absolute; 
    transform: rotate(-90deg); 
    transform-origin: 0 0;
}

.seta{
    display: flex;
    justify-content: end;
    align-items: flex-end;
    transform: rotate(90deg);
}

/* index fim */
/* contato início*/

.contths{
    margin: 10rem;
    color: #2f2f2a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contths a{
    text-decoration: none;
    color: #2f2f2a;
}

/* contato fim*/
/* sobre início*/

.about{
    display: flex;
    flex-direction: column;
}

.aboutban img{
    height: auto;
    width: 100%;
}

.duba{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

.imgduba{
    height: auto;
    width: 25rem;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.p1{
    text-align: center;
    font-size: x-large;
}

.p2{
    text-align: center;
    width: 90%;
    font-size: x-large;
}

.pgroup{
    display: flex;
    flex-direction: column;
}

.mainsobre{
    margin-inline: 40px;
}

/* sobre fim*/
/* perfil início*/

.fila{
    display: flex;
    flex-direction: column;
    margin: 40px;
    margin-left: 100px;

}

.filabot{
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-size: x-small;
    margin-bottom: 5px;
}

.line{
    width: 2px;
    height: 500px;
    background-color: black;
    margin-top: 40px;
}

.filina{
    display: flex;
    flex-direction: row;
}

/* sobre fim*/
/* cad e log início*/

.mainlog{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.decorlog{
    height: 10rem;
    width: auto;
    margin: 30px;
    margin-bottom: 70px;
}

.inputlog{
    width: 30rem;
    height: 30px;
    margin-bottom: 20px;
}

.bttlog{
    width: 20rem;
    height: 40px;
    background-color: #48473D;
    color: white;
}


/* Login */
