@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,300&display=swap');
/* index início */
body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

body 
    p,
    div, 
    h1, 
    h2, 
    h3,
    h4,
    h5 {
    font-family: 'Montserrat', sans-serif;
}

p, div {
    font-weight: 400;
}

nav{
    height: auto;
    width: 100%;
    background-color: #48473d;
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    color: #2f2f2a;
}

.logo{
    height: auto;
    width: 3rem;
    margin: 10px;
    margin-inline-start: 20px;
}

.navbot{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner{
    display: flex;
    justify-content: center;
}

.bot{
    margin-inline: 40px;
    text-decoration: none;
    color: white;
    border: black;
    cursor: pointer;
}

footer{
    background-color: #48473d;
    height: 437px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer h1{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconweb{
    display: flex;
    align-items: center;
}

.face{
    background-color: white;
    border-radius: 100%;
    display: flex;
    align-items: center;
}

.insta{
    margin-left: 60px;
    height: auto;
    width: 9.3rem;
}

.ser h1{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 50px;
    font-size: 40px;
}

/* index fim */
/* contato início*/

.contths{
    margin: 10rem;
    color: #2f2f2a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contths a{
    text-decoration: none;
    color: #2f2f2a;
}

/* contato fim*/
/* sobre início*/

.about{
    display: flex;
    flex-direction: column;
}

.aboutban img{
    height: auto;
    width: 100%;
}

.duba{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

.imgduba{
    height: auto;
    width: 25rem;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.p1{
    text-align: center;
    font-size: x-large;
}

.p2{
    text-align: center;
    width: 90%;
    font-size: x-large;
}

.pgroup{
    display: flex;
    flex-direction: column;
}

.mainsobre{
    margin-inline: 40px;
}

/* sobre fim*/
/* perfil início*/

.fila{
    display: flex;
    flex-direction: column;
    margin: 40px;
    margin-left: 100px;

}

.filabot{
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-size: x-small;
    margin-bottom: 5px;
}

.line{
    width: 2px;
    height: 500px;
    background-color: black;
    margin-top: 40px;
}

.filina{
    display: flex;
    flex-direction: row;
}

.perfil1{
    margin: 40px;
    margin-left: 23rem;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

/* perfil fim*/
/* cad e log início*/

.mainlog{
    display: flex;
    flex-direction: row;
}

.imgdecor{
    height: 40.7rem;
    width: auto;
}

.mainlog h1{
    font-size: 25px;
}

.contlog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 15rem;
}

.decorlog{
    height: 7rem;
    width: auto;
    margin: 30px;
}

.inputlog{
    width: 25rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}

.bttlog{
    width: 20rem;
    height: 40px;
    background-color: #48473D;
    color: white;
    border: 1px;
    border-radius: 5px;
    font-size: x-large;
    cursor: pointer;
}


/* cad e log fim */
