/* index início */
body{
    display: flex;
    flex-direction: column;
}

nav{
    height: auto;
    width: 100%;
    background-color: #48473d;
    display: flex;
    align-items: center;
}

.logo{
    height: auto;
    width: 3rem;
    margin: 10px;
    margin-inline-start: 20px;
}

.navbot{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bot{
    margin-inline: 40px;
    text-decoration: none;
    color: white;
    border: black;
}

footer{
    background-color: #48473d;
    height: 437px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer h1{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconweb{
    display: flex;
    align-items: center;
}

.face{
    background-color: white;
    border-radius: 100%;
    display: flex;
    align-items: center;
}

.insta{
    margin-left: 60px;
    height: auto;
    width: 9.3rem;
}

.ser h1{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 50px;
    font-size: 40px;
}

.cards{
    margin: 100px;
    margin-bottom: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cont4{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.cont3{
    display: flex;
    flex-direction: row;
}

.contcard{
    width: 254px; 
    height: 313px; 
    position: relative;
    margin-inline: 20px;
}

.outcard{
    width: 254px; 
    height: 313px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #48473D; 
    border-radius: 45px;
}

.namecard{
    width: 247px; 
    height: 47px; 
    left: 3px; 
    top: 24px; 
    position: absolute; 
    text-align: center; 
    color: white; 
    font-size: 22px; 
    font-family: Karla; 
    font-weight: 700; 
    word-wrap: break-word;
}

.textcard{
    width: 228px; 
    height: 129px; 
    left: 13px; 
    top: 111px; 
    position: absolute; 
    display: flex;
    text-align: center; 
    color: white; 
    font-size: 22px; 
    font-family: Karla; 
    font-weight: 200; 
    word-wrap: break-word;
}

.idkcard{
    width: 175px; 
    height: 42px; 
    left: 79px; 
    top: 271px; 
    position: absolute;
}

.btmcard{
    width: 175px; 
    height: 42px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #B4CB92; 
    border-top-left-radius: 50px; 
    border-bottom-right-radius: 50px;
}

.namebtm{
    width: 105px; 
    height: 24px; 
    left: 13px; 
    top: 9px; 
    position: absolute; 
    text-align: center; 
    color: #48473D; 
    font-size: 22px; 
    font-family: Karla; 
    font-weight: 700; 
    word-wrap: break-word;
}

.alincard{
    width: 34px; 
    height: 34px; 
    left: 118px; 
    top: 38px; 
    position: absolute; 
    transform: rotate(-90deg); 
    transform-origin: 0 0;
}

.seta{
    display: flex;
    justify-content: end;
    align-items: flex-end;
    transform: rotate(90deg);
}

/* index fim */
/* contato início*/

.contths{
    margin: 10rem;
    color: #2f2f2a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contths a{
    text-decoration: none;
    color: #2f2f2a;
}

/* contato fim*/
/* sobre início*/

.about{
    display: flex;
    flex-direction: column;
}

.aboutban img{
    height: auto;
    width: 100%;
}

.duba{
    display: flex;
    flex-direction: row;

}

.imgduba{
    height: auto;
    width: 20rem;
    display: flex;
    flex-direction: column;
}

.p1{
    text-align: center;
    font-size: x-large;
}

.p2{
    text-align: center;
    width: 100%; 
    text-align: center; 
    color: #48473D; 
    font-size: 30px; 
    font-family: Karla; 
    font-weight: 400; 
    word-wrap: break-word"
}